<nav class="portfolio-nav d-flex">
  <div id="examples">
    <div class="example">
      <span class="hover hover-1">
        <%= link_to "Home", root_path, class: "my-name active tabs" %>
      </span>
    </div>
  </div>
  <div id="examples">
    <div class="example">
      <span class="hover hover-1">
        <%= link_to "About", about_path, class: "tabs" %>
      </span>
    </div>
  </div>
  <div id="examples">
    <div class="example">
      <span class="hover hover-1">
        <% if current_page?(:controller => 'pages', :action => 'projects') %>
          <%= link_to "Sean OReilly", projects_path, class: "tabs", id: "project-tab" %>
        <% else %>
          <%= link_to "Projects", projects_path, class: "tabs pr-5 mr-2", id: "project-tab" %>
        <% end %>
      </span>
    </div>
  </div>
  <div id="examples">
    <div class="example">
      <span class="hover hover-1">
        <!-- <%= link_to "Get in touch", new_contact_path, class: "tabs", style: "background: #21FDE1;" %> -->
        <a class="tabs" style="background: #21FDE1;" href="#get-in-touch">Get in touch</a>
      </span>
    </div>
  </div>  
</nav>
